block content
    include ../components/toastr.pug
    .page-content
        .container
            .box-content
                h1.page-title Glitch-Blockchain Faucet
                include ../components/form.pug
                // END : FORM
                include ../components/faq.pug
                // END : FAQs