doctype html
html
  head
    include ./components/wrong-network.pug
    include ./layouts/header
    // Styles
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/index.css')
  body
    block content
    block footer
    // JS Scripts
    scripts
      script(src="https://code.jquery.com/jquery-2.2.4.min.js")
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js")
      script(src="/js/start.js")
