doctype html
html
  head
    include ./components/wrong-network.pug
    include ./layouts/header
    // Styles
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/index.css')
  body
    block content
    block footer
    // JS Scripts
    scripts
      script(src="js/bootstrap.min.js")
