block title
  title Faucet - Glitch

block meta
  meta(name='author', content='Glitch <contact@glitch.finance>')
  meta(name='description', content='Glitch')
  meta(name='keywords', content='Glitch')
  meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')
  meta(property='og:title', content='Faucet - Glitch')
  meta(property='og:description', content='Faucet - Glitch')
  meta(property='og:url', content='https://uat-wallet.glitch.finance/')
  meta(property='og:type', content='website')
  meta(property='og:site_name', content='Faucet-Glitch')
  meta(itemprop='name', content='Faucet-Glitch')
  meta(itemprop='description', content='Faucet-Glitch')
  //- meta(property='og:image', content='')

.header-wrap.mb-4
  .container 
    .logo 
      a(href="/")
        img(src="./images/logo.png", alt="Faucet - Glitch")