:root {
    --white: #fff;
    --red: #a61d24;
    --pink: #f102f5;
    --gray: #e4ecef;
    --gray1: #151f23;
    --gray2: #1c2a2f;
    --gray3: #23353b;
    --gray4: #a7c1ca;
    --gray5: #395660;
}
body {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/bg.jpg");
    font-family: "PT Mono", monospace;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}
.wrong-network {
    border-radius: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
    background-color: var(--red);
    color: var(--gray);
    border: none;
    position: relative;
}
.wrong-network .btn-close {
    position: absolute;
    right: 15px;
    color: var(--gray);
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 9px;
    height: 9px;
    background-size: 9px auto;
    filter: invert(1);
    background-size: 9px auto;
    opacity: 0.8;
}
.box-content {
    background-color: var(--gray1);
    box-shadow: 8px -8px 0px rgba(241, 0, 245, 0.12), -8px 8px 0px rgba(0, 255, 255, 0.12);
    min-height: 670px;
    padding: 30px;
}
.page-content {
    margin-bottom: 120px;
}
.page-title {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 40px;
    background: linear-gradient(90deg, #00ffff 0%, #f100f5 100%);
    background: -webkit-linear-gradient(90deg, #00ffff 0%, #f100f5 100%);
    background: -moz-linear-gradient(90deg, #00ffff 0%, #f100f5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.faucet-form {
    border-bottom: 1px solid var(--gray3);
}
.accordion-button {
    outline: none;
}
.accordion-button:focus {
    box-shadow: none;
    outline: none;
}
.faqs-wrap .accordion-item {
    background-color: transparent;
    border: none;
}
.faqs-wrap .accordion-button {
    background-color: var(--gray2);
    color: var(--gray);
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid var(--gray3);
}
.faqs-wrap .accordion-button.collapsed {
    background-color: transparent;
    border-bottom-color: transparent;
}
.faqs-wrap .accordion-collapse {
    color: var(--gray4);
    background-color: var(--gray2);
}
.faqs-wrap .accordion-collapse p:last-child {
    margin-bottom: 0;
}
.pink {
    color: var(--pink);
}
.form-wrap {
    display: flex;
    align-items: center;
}
.form-wrap .form-control {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    display: flex;
    align-items: center;
    color: var(--gray5);
    border-radius: 0;
    background-color: transparent;
    margin-right: 15px;
    border-color: var(--gray3);
}
.form-wrap .form-control::-webkit-input-placeholder {
    color: var(--gray5);
}
.form-wrap .form-control::-moz-placeholder {
    color: var(--gray5);
}
.form-wrap .form-control:-ms-input-placeholder {
    color: var(--gray5);
}
.form-wrap .form-control:-moz-placeholder {
    color: var(--gray5);
}
.form-wrap .btn-send {
    font-size: 16px;
    height: 40px;
    width: 190px;
    flex: 0 0 190px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray1);
    background-color: var(--gray);
    border-radius: 0;
    box-shadow: -3px 3px 0px #00ffff, 3px -1px 0px #f100f5;
}
.form-wrap .btn-send:focus {
    box-shadow: none;
}
.form-wrap .btn-send:disabled {
    background-color: rgb(228, 236, 239, 0.3);
    box-shadow: none;
}
