.faucet-form.pb-4.mb-4
    form(method="POST", action=post).mb-2
        .form-wrap.mb-3
            input(type="text" class="form-control" name="address" placeholder="Enter your Testnet account address")
        .form-captcha.mb-3
            .captcha.me-3 !{captcha}
            input(type="text" name="verify" placeholder="Enter captcha" class="form-control") 
            input(type="hidden" name="hash" value=hash)
        .form-button
            button(type='submit' class="btn btn-send") Send me 1 GLCH
    if (error)
        div(style="color:red", class="mb-2") Error: #{error}
    if (data)
        include ../components/toastr.pug