.toastr.toastr-success.shw(data-time="1000")
    .box-content-message
        img(src="./images/ico_checked.png", alt="").icon
        .close 
            img(src="./images/ico_close.png", alt="")
        .inner.ps-3
            h3.title Successful!
            .desc Sending request has been submitted. View your transaction 
                a(href="https://testnet-explorer.glitch.finance/") here
//- .toastr.toastr-error.shw(data-time="1000")
//-     .box-content-message
//-         .close 
//-             img(src="./images/ico_close.png", alt="")
//-         .inner.ps-3
//-             h3.title Warning!
//-             .desc Sending request has been submitted. View your transaction 
//-                 a(href="#") here