.alert.alert-danger.wrong-network.text-center(role="alert")
    .container
        | GLCH faucet is only supported on Glitch Testnet.
        button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")